.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: var(--surface-2);

    &__wrapper {
        max-width: 485px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        text-align: center;
        font-size: 34px;
        font-weight: bold;
    }

    &__content {
        text-align: center;
    }
}