@import '@/assets/fonts/gilroy/stylesheet.css';

:root {
    --text-primary: #070707;
    --text-content: #070707;
    --text-content-hover: #2b2b2b;
    --text-content-2: #828282;
    --surface-2: #F6F6F6;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Gilroy';
    font-size: 18px;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}