.contacts {
    padding: 114px 0 123px 0;
    text-align: center;

    &__wrapper {
        max-width: 402px;
    }

    &__title {
        font-size: 34px;
        font-weight: bold;
        margin-bottom: 35px;
    }

    &__subtitle {
        font-weight: 500;
        margin-bottom: 35px;
    }

    &__button {
        position: relative;
        top: 0px;
        height: 42px;
        width: 180px;
        border-radius: 21px;
        
        color: white;
        background-color: var(--text-content);
        
        transition: top 0.1s, background-color 0.2s;

        &:hover {
            background-color: var(--text-content-hover);
        }

        &:active {
            top: 4px;
        }
    }
}

.social {
    margin-top: 85px;

    &__list {
        display: flex;
        justify-content: space-between;
        column-gap: 60px;
        margin-bottom: 45px;
    }
}