@media (max-width: 500px) {
    .nav {
        &__hr {
            display: none;
        }

        &__list {
            display: none;
        }

        &__btn {
            display: block;
        }
    }

    #nav__btn:checked {
        position: fixed;
        
        & ~ .nav__btn::before {
            position: fixed;
            top: 68px;
            right: 30px;
            content: url('../../dist/assets/img/nav_btn_open.png')
        }

        & ~ .nav__list {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1;
            padding: 66px 30px 0 30px;
            background-color: white;
            font-size: 34px;
            row-gap: 68px;
        }

        & ~ .lang-mobile {
            display: block;
        }
    }

    .lang {
        display: none;
        animation: none;
    }

    .skill-card {
        width: 100%;
    }

    .contacts {
        &__button {
            width: 100%;
        }
    }

    .preview {
        &__img img {
            object-fit: cover;
        }
        &__text {
            margin: 50px 0 36px 0;
            flex-direction: column;
            align-items: start;
        }
        &__desc {
            margin-top: 14px;
        }
    }
}