.preview {
    padding-bottom: 100px;

    &__text {
        margin: 50px 0;
        display: flex;
        justify-content: space-between;
        align-items: last baseline;
        font-weight: 500;
    }

    &__name {
        font-weight: bold;
        font-size: 47px;
    }

    @keyframes preview-image {
        0% {
            opacity: 0.2;
            transform: translateX(100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    &__img {
        animation: preview-image 1s cubic-bezier(.03,.85,.17,.96);
        max-width: 100%;
        img {
            width: 100%;
            min-height: 387px;
            object-fit: none;
        }
    }
}

.lang {
    transform: translate(35%, -120%) rotate(-90deg);
    font-size: 16px;
    font-weight: bold;
    color: var(--text-content);
    &__item {
        cursor: pointer;
        color: var(--text-content-2);
        &.active {
            color: var(--text-content);
        }
    }

    @keyframes lang {
        from {
            transform: translateY(-300px)  translate(35%, -120%) rotate(-90deg);
        }
        to {
            transform: translateY(0px)  translate(35%, -120%) rotate(-90deg);
        }
    }

    animation: lang 1s;
}